* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vh 0;
}

.itens {
    display: flex;
    gap: 25px;
}

.botao {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #BE0;
    border-radius: 20px;
    cursor: pointer;
}

.cabecalho img {
    width: 200px;
}

.hero {
    height: 95vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(assets/capa.jpeg);
}

.hero h1 {
    color: white;
    font-weight: 800;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

.hero p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.hero2 {
    height: 95vh;
    justify-content: flex-start;
    padding: 60px;
    display: flex;
    background-color: white;
}

.pesquisar {
    display: flex;
    gap: 10px;
    background-color: rgba(30, 30, 30, 0.7);
    padding: 10px;
    border-radius: 12px;
    margin-top: 30px;
    width: 60vw;
    max-width: 800px;
    align-items: stretch;
}

.pesquisar input {
    flex: 1;
    padding: 15px 20px 15px 45px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}


.pesquisar button {
    background-color: #d35400;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.secao-livros {
    padding: 50px 10vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

.topo-livros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.topo-livros a {
    color: #d35400;
    text-decoration: none;
    font-weight: bold;
}


.grade-livros {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}



.card-livro {
    background-color: white;
    padding: 15px;
    width: 220px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}





.imagem-container {
    background-color: #eee;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.imagem-container img {
    width: 100%;
    height: 100%;
}

.card-livro h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
}

.card-livro p {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 15px;
}


.botao-emprestar {
    width: 100%;
    background-color: #fbeee6;
    color: #d35400;            
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
}






.imagem-container-evento {
    background-color: #eee;
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    
}

.card-evento {
    background-color: white;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.topo-eventos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.grade-eventos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.topo-eventos a {
    color: #d35400;
    text-decoration: none;
    font-weight: bold;
}

.textocima {
    font-size: 15px;
    color: #f57803;
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: start;
}

.eventos {
    padding: 50px 10vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
}

/* help section */
.como-ajudamos {
    padding: 50px 10vw;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.como-ajudamos h2 {
    margin-bottom: 10px;
}

.subtitulo-ajuda {
    color: #666;
    margin-bottom: 40px;
    font-size: 1.1em;
}

.ajuda-items {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.ajuda-item {
    max-width: 250px;
    text-align: center;
}

.ajuda-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.ajuda-item h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.ajuda-item p {
    color: #555;
    font-size: 0.95em;
}


.rodape {
    background-color: #222;
    color: #eee;
    padding: 40px 10vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.colunafooter {
    flex: 1 1 200px;
    margin: 10px;
}

.colunafooter h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.colunafooter p {
    font-size: 0.9em;
    line-height: 1.4;
    margin: 4px 0;
}
.card-evento a {
    color: #d35400;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.card-evento h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: #222;
    margin: 10px 0 5px;
}

.card-evento p, a {
    font-family: 'Verdana', sans-serif;
    font-size: 0.95em;
    color: #555;
    margin-bottom: 15px;
}
.card-evento {
    position: relative;
}

.calendario {
    background-color: #eee;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    overflow: hidden;
}